chromedriver-autoinstaller==0.6.4
undetected-chromedriver==2.0.0
selenium==4.17.2 
selenium-wire==5.1.0
seleniumbase==4.23.2
webdriver-manager==4.0.2
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.16.0
google-api-python-client==2.164.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-datastore==2.20.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-generativeai==0.3.2
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
googlemaps==4.10.0
googlesearch-python==1.2.4
pandas==2.2.0
PyAutoGUI==0.9.54
regex==2023.12.25
cloudpathlib==0.18.1
